{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col-6">
        <div class="card shadow-sm">
            <img class="card-img-top"
                 src="{{ object.image|mediapath }}"
                 alt="Card image cap">
            <div class="card-body">
                <p class="card-text">{{ object.name }}</p>
                <p class="card-text">Описание: {{ object.description|slice:":100" }}</p>
                <p class="card-text">Категория: {{ object.category }}</p>
                <p class="card-text">Цена: {{ object.purchase_price }}</p>
                <p class="card-text">Дата создания: {{ object.date_of_creation }}</p>
                <p class="card-text">Дата последнего изменнеия: {{ object.last_modified_date }}</p>
                {% for version in object.version_set.all %}
                    {% if version.is_active %}
                        <tr>
                            <td>Актуальная версия:</td>
                            <td>{{ version.version_number }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <div class="d-flex justify-content-between align-items-center"></div>
            </div>
            <div class="py-4 text-center">
                <a class="p-2 btn btn-outline-success" href="{% url 'catalog:edit_product' object.pk %}">Редактировать товар</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:version_create' %}">Создать версию товара</a>
                <a class="p-2 btn btn-outline-danger" href="{% url 'catalog:delete_product' object.pk %}">Удалить товар</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}